#custom stuff
.idea
/amplify/backend/api/symfony/src/.env

###> symfony/framework-bundle ###
/amplify/backend/api/symfony/src/app/.env.local
/amplify/backend/api/symfony/src/app/.env.local.php
/amplify/backend/api/symfony/src/app/.env.*.local
/amplify/backend/api/symfony/src/app/config/secrets/prod/prod.decrypt.private.php
/amplify/backend/api/symfony/src/app/public/bundles/
/amplify/backend/api/symfony/src/app/var/
/amplify/backend/api/symfony/src/app/vendor/
###< symfony/framework-bundle ###

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*